<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li>
            <a href="Importer_Dashboard.html">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">assignment</i>
                <span>Letter of Credit </span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="Importer_ApplyLC.html">Apply LC</a>
                </li>
                <li>
                    <a href="pages/forms/advanced-form-elements.html">Amend LC</a>
                </li>
                <li>
                    <a href="Importer_Dashboard.html">View LC Log</a>
                </li>
            </ul>
        </li>

    </ul>
</div>



<!-- Custom Js -->
<script src="../../js/admin.js"></script>
<script src="../../js/pages/index.js"></script>